<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <form>
        <div class="form-group">
          <label for="tcKimlik">Tc Kimlik No</label>
          <input
            type="text"
            class="form-control"
            id="tcKimlik"
            maxlength="11"
          />
          <label for="isim">İsim</label>
          <input type="text" class="form-control" id="isim" />
          <label for="soy">Soy İsim</label>
          <input type="text" class="form-control" id="soy" />
          <label for="il">İl</label>
          <input type="text" class="form-control" id="il" />
          <label for="ilce">İlçe</label>
          <input type="text" class="form-control" id="ilce" />
          <label for="anne">Anne Adı</label>
          <input type="text" class="form-control" id="anne" />
          <label for="baba">Baba Adı</label>
          <input type="text" class="form-control" id="baba" />
          <label for="uyruk">Uyruk</label>
          <input type="text" class="form-control" id="uyruk" />
          <label for="seri">Tc Kimlik Seri No</label>
          <input type="text" class="form-control" id="seri" />
        </div>
        <div class="form-group">
          <label for="unvan">Ünvan</label>
          <select class="form-control" id="unvan">
            <option>Doktor</option>
            <option>Hemşire</option>
          </select>
          <label for="birim">Birim</label>
          <select class="form-control" id="birim">
            <option>Onkoloji</option>
            <option>Kulak Burun Boğaz</option>
          </select>
        </div>

        <button type="submit" class="btn btn-outline-success btn-block">
          İşlemi Tamamla
        </button>
      </form>
    </div>
  </div>
</div>
<!--
    tcNo
    ad
    soyad
    ilce
    il
    anne_adi
    baba_adi
    uyruk
    seriNo
    UnvanAdi=>Veri Tabanından Gelecek
    BirimAd=>Veri Tabanından Gelecek
-->
