<!--
    İzinler
  id
  başlangıç tarih
  bitiş tarih
  kişi
  onaylayan

    Çalışan Bilgi
  id
  ad
  soyad
  ünvan
  birim
  kalanİzinGünü
-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">İsim</th>
            <th scope="col">Soyisim</th>
            <th scope="col">Birim</th>
            <th scope="col">Ünvan</th>
            <th scope="col">İzin Başlangıç</th>
            <th scope="col">İzin Bitiş</th>
            <th scope="col">Onaylayan Yönetici</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hakkı</td>
            <td>Caferoğlu</td>
            <td>Kulak Burun Boğaz</td>
            <td>Hasta Bakıcı</td>
            <td>30.08.1998</td>
            <td>05.09.2015</td>
            <td>Cennet Bağcılar</td>
          </tr>
          <tr>
            <td>Yasemin</td>
            <td>Cemiş</td>
            <td>Kardiyoloji</td>
            <td>Doktor</td>
            <td>15.03.2020</td>
            <td>13.01.2021</td>
            <td>Cemil Bağcılar</td>
          </tr>
          <tr>
            <td>Hakkı</td>
            <td>Caferoğlu</td>
            <td>Kulak Burun Boğaz</td>
            <td>Hasta Bakıcı</td>
            <td>30.08.1998</td>
            <td>05.09.2015</td>
            <td>Cennet Bağcılar</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
