<!--
    Nöbetler
  id
  tarih
  çalışan
  birim

    Çalışan Bilgi
  id
  ad
  soyad
  ünvan
  birim
-->
<!--
    İsim
    Soyisim
    Birim
    Ünvan
    Tarih
-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Çalışan</th>
            <th scope="col">Birim</th>
            <th scope="col">Ünvan</th>
            <th scope="col">Nöbet Tarihi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cansu Kadersiz</td>
            <td>Kadın Doğum</td>
            <td>Doktor</td>
            <td>25.02.2021</td>
          </tr>
          <tr>
            <td>Hayrullah Kadersiz</td>
            <td>Dermotoloji</td>
            <td>Sekreter</td>
            <td>25.02.2021</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
