<!--
    Ameliyatlar
  id
  tarih
  açıklama
  doktor
  birim

    Çalışan Bilgi
  id
  ad
  soyad
  ünvan
  birim
-->
<!--
    Doktor (Ad Soyad)
    Birim
    Ameliyat Tarihi
    Açıklama
-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Doktor</th>
                        <th scope="col">Birim</th>
                        <th scope="col">Ameliyat Tarihi</th>
                        <th scope="col">Açıklama</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cansu Kadersiz</td>
                        <td>Kadın Doğum</td>
                        <td>25.02.2021</td>
                        <td>
                            Yeni biri gelecek. Bakalım hayırlısı.
                        </td>
                    </tr>
                    <tr>
                        <td>Kerim Kasım Kansız</td>
                        <td>Göz Polikiliniği</td>
                        <td>25.02.2021</td>
                        <td>
                            lazerle göz çizme
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>